body{
  font-stretch: expanded;
  width: 100%;
  height: 100vh;
  border:0px;
  margin: 0px;
  padding: 0px
}
body{
  background:black;
  color:white;
  color: pink;

}
table{
  font-size:45px;
  text-align: center;
}
.container{
  width: 60%;
  margin: 0px auto;
}
