body{
  font-stretch: expanded;
  width: 100%;
  height: 100vh;
  border:0px;
  margin: 0px;
  padding: 0px
}
body{
  background: #302387;
  color: #00FAAC;

}
table{
  font-size:45px;
  text-align: center;
}
.container{
  width: 60%;
  margin: 0px auto;
}
thead{
  color: #FFFDAF;
}
hr{
  width: 100%;
  border-top: dotted 10px;
  border-bottom: none;
  color: #FFFDAF;
}
